<template>
  <div class="my-3">
    <button
        :type="isSubmit ? 'submit' : 'button'"
        class="
        relative
        flex
        justify-center
        py-2
        px-4
        border
        text-sm
        font-medium
        focus:outline-none
        focus:ring-1
        rounded-md
        focus:ring-black
        bg-myColor
        text-white
        w-auto
      "
    >
      {{ placeholder }}
    </button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "ButtonElement",
  props: {
    white: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: "",
    },
    isSubmit: {
      type: Boolean,
      default: false,
    },
  },
});
</script>
