<template>
  <div class="relative">
    <label :for="id" class="font-medium mb-1 text-md text-gray-700">{{ label }}</label>
    <div class="bg-white relative overflow-hidden min-h-[156px]" :class="{'min-h-[280px]': img}">
      <TrashIcon class="w-4 h-4 absolute right-3 top-3 text-black z-30" @click.self="removeImg" v-if="img"/>
      <input :id="id" type="file" class="overlayed opacity-0" @change="handleUpload" accept="image/*"/>
      <div class="overlayed bg-white drag-drop text-gray-800 pointer-events-none flex justify-center items-center">
        <div class="flex h-full py-4 flex-col items-center justify-center">
          <img v-if="img"
               :src="img"
               alt="img"
               class="w-24 h-24 h-full object-cover radius-5 mb-5 rounded-full"/>
          <AddImageIcon class="!w-[35px] !h-[36px]"/>
          <p class="text-sm font-medium text-gray-600">
            <span class="text-brand"> Upload photo </span>
            <span> or drag here</span>
          </p>
          <p class="font-normal text-xs mt-1 text-gray-400">
            (max 240x240 and 1Mb)
          </p>
        </div>
      </div>
    </div>
    <template v-if="error">
      <div
          class="
          relative
          inset-y-0
          left-0
          rounded-md
          flex
          items-center
          pointer-events-none
          w-full
          h-[18px]
          text-red-500
          font-semibold
          pl-6
          mt-1
          -mb-2
        "
      >
        <span class="w-2 h-2 rounded-full bg-red-500 absolute left-2"></span>
        {{ error }}
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { ref, defineComponent, onMounted, watch } from "vue";
import AddImageIcon from "@/components/SvgIcons/AddImageIcon.vue";
import TrashIcon from "@/components/SvgIcons/TrashIcon.vue"

export interface UploadFileInterface {
  size: number,
  url: string,
  type: string,
  name: string
}

interface Dimensions {
  width: number,
  height: number
}

export interface UploadFileError {
  size: number,
  maxSizeInMb?: number,
  maxWidth: number,
  maxHeight?: number,
  dimensions: Dimensions
}

export default defineComponent({
  components: { AddImageIcon, TrashIcon },
  props: {
    id: {
      type: String,
      default: "drag-and-drop-input",
    },
    label: {
      type: String,
      default: "",
    },
    photoUrl: {
      type: String,
      default: ""
    },
    error: {
      type: String,
      default: "",
    },
  },
  emits: ['error', 'input'],
  setup(props, { emit }) {
    const files = ref<File[]>([]);
    const img = ref(props.photoUrl);

    onMounted(() => {
      if (props.photoUrl) {
        img.value = props.photoUrl
      }
    })

    watch(() => props.photoUrl, () => img.value = props.photoUrl)

    const handleUpload = async (e: { target: { files: Iterable<never> | ArrayLike<never>; }; }) => {
      files.value = Array.from(e.target.files) || [];
      const reader = new FileReader();
      reader.readAsDataURL(files.value[0]);
      const maxSizeInMb = 1;
      const maxSize = maxSizeInMb * 1024 * 1024;
      const maxWidth = 800;
      const maxHeight = 600;
      if (files.value[0].size > maxSize) {
        return emit('error', { size: files.value[0].size, maxSizeInMb })
      }
      const file: UploadFileInterface = {
        size: files.value[0].size,
        type: files.value[0].type,
        name: files.value[0].name,
        url: URL.createObjectURL(files.value[0]),
      }
      const dimensions = await checkImageSize(file.url)
      if (dimensions.width > maxWidth || dimensions.height > maxHeight) {
        return emit('error', { size: files.value[0].size, maxWidth, maxHeight, dimensions })
      }
      emit("input", file);
    };

    function checkImageSize(url: string) {
      const img = document.createElement("img");
      const dimensions = new Promise((resolve, reject) => {
        img.onload = () => {
          const width = img.naturalWidth;
          const height = img.naturalHeight;
          resolve({ width, height });
        };
        img.onerror = reject;
      });
      img.src = url;
      return dimensions as Promise<Dimensions>;
    }

    const removeImg = () => {
      img.value = ''
      emit("input", {
        size: 0,
        type: '',
        name: '',
        url: '',
      });

    }
    return {
      files,
      handleUpload,
      img,
      removeImg
    };
  },

});
</script>

<style scoped>
.overlayed {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full block;
}

.drag-drop {
  border: 2px dashed #d1d5db;
  box-sizing: border-box;
  border-radius: 5px;
}
</style>
