<template>
  <div class="my-3 relative">
    <label
        :for="elementId"
        class="font-medium mb-1 text-md text-gray-700"
    >
      {{ label }}
    </label>
    <div class="relative">
      <input
          :type="type"
          :id="elementId"
          name="input"
          class="
        appearance-none
        rounded-lg
        flex
        items-center
        w-full
        px-3
        py-2
        border border-gray-300
        placeholder-gray-400
        focus:outline-none focus:ring-myColor focus:border-gray-300 focus:z-10
        sm:text-sm
        font-normal
      "
          :class="{'border-red-500': error}"
          :placeholder="placeholder"
          v-model="value"
      />
    </div>
    <template v-if="error">
      <div
          class="
          absolute
          -bottom-6
          left-0
          flex
          items-center
          pointer-events-none
          w-full
          text-red-500
          pl-6
          font-normal
        "
      >
        <span class="w-2 h-2 rounded-full bg-red-500 absolute left-2 text-sm"></span>
        {{ error }}
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from "vue";

type InputTypes = "text" | "email" | "password" | "number" | "tel";

export default defineComponent({
  name: "InputElement",
  props: {
    placeholder: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      type: String,
      default: "",
    },
    type: {
      type: String as () => InputTypes,
      default: "text",
    },
    error: {
      type: String,
      default: "",
    },
    elementId: {
      type: String,
      default: "",
    },
    formElementName: {
      type: String,
      required: true,
    }
  },
  emits: ['value'],
  setup(props, { emit }) {
    const value = ref(props.modelValue);
    watch(() => value.value, () => {
          emit('value', { value: value.value, elementName: props.formElementName })
        }
    )
    watch(
        () => props.modelValue,
        () => {
          value.value = props.modelValue;
        },
    );
    return {
      value,
    };
  },
});
</script>
