<template>
  <div class="my-5">
    <label :for="elementId" class="font-medium mb-1 text-md text-gray-700">{{
        label || placeholder
      }}</label>
    <textarea
        :id="elementId"
        v-bind="$attrs"
        class="
        appearance-none
        relative
        block
        focus:ring-myColor
        w-full
        px-3
        py-2
        border border-gray-300
        placeholder-gray-400
        rounded-lg
        focus:outline-none
        focus:border-gray-300
        focus:z-10
        sm:text-md
        h-36
        min-h-[4rem]
        resize-y
        max-h-96
      "
        :placeholder="placeholder"
        v-model="value"
        @change="$emit('value', value)"
    />
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from "vue";

export default defineComponent({
  name: "TextareaElement",
  props: {
    placeholder: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      type: String,
      default: "",
    },
    elementId: {
      type: String,
      default: "",
    },
    formElementName: {
      type: String,
      required: true,
    }
  },
  emits: ['value'],
  setup(props, { emit }) {
    const value = ref(props.modelValue);
    watch(() => value.value, () => emit('value', { value: value.value, elementName: props.formElementName }))
    watch(
        () => props.modelValue,
        () => {
          value.value = props.modelValue;
        },
    );
    return {
      value,
    };
  },
});
</script>
