<template>
  <svg width="48" height="38" viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M48 31.988V38.002H0V32.01C2.7919 28.2789 6.41581 25.2507 10.5836 23.1661C14.7513 21.0815 19.348 19.9981 24.008 20.002C33.816 20.002 42.528 24.71 48 31.988ZM32.004 8C32.004 10.1217 31.1611 12.1566 29.6609 13.6569C28.1606 15.1571 26.1257 16 24.004 16C21.8823 16 19.8474 15.1571 18.3471 13.6569C16.8469 12.1566 16.004 10.1217 16.004 8C16.004 5.87827 16.8469 3.84344 18.3471 2.34315C19.8474 0.842854 21.8823 0 24.004 0C26.1257 0 28.1606 0.842854 29.6609 2.34315C31.1611 3.84344 32.004 5.87827 32.004 8Z"
        fill="currentcolor"/>
  </svg>
</template>
