<template>
  <Header/>
  <main class="flex min-h-[100vh] bg-gray-100">
    <div class="container mt-20 mx-auto mb-6 flex flex-col md:block">
      <router-view/>
    </div>
  </main>
  <Snackbar />
  <Footer/>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Footer from "@/components/Common/Footer.vue";
import Header from "@/components/Common/Header.vue";
import Snackbar from "@/components/Common/Snackbar.vue";

export default defineComponent({
  name: "Default",
  components: {
    Footer,
    Header,
    Snackbar
  },
});
</script>

