<template>
  <div class="w-full h-full flex flex-wrap md:flex-nowrap px-4 md:px-0 items-start">
    <div class="w-full md:w-1/3 mb-4 md:mb-0 bg-white shadow-lg p-4 h-auto mt-2 rounded-lg">
      <h3 class="font-medium text-xl text-myColor leading-normal">
        User form
      </h3>
      <p class="text-sm leading-normal font-normal text-gray-600">
        Fill out the form to save your profile.
        You will be able to view your profile on the user page.
      </p>
    </div>
    <div class="w-full md:w-2/3 md:pl-6">
      <UserForm />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import UserForm from "@/components/Forms/UserForm.vue";

export default defineComponent({
  name: "Edit",
  components: {
    UserForm
  },
});
</script>
