<template>
    <div class="w-full h-screen flex justify-center items-center">
      <h1 class="text-4xl text-black leading-normal flex flex-col items-center">
        404
        <span>
          NOT FOUND
        </span>
      </h1>
    </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Edit",
  components: {
  },
});
</script>
