<template>
  <div class="w-full flex flex-wrap px-4 md:px-0">
    <h1 class="text-center text-2xl font-semibold text-gray-900 w-full mb-6">Welcome {{ profile.firstName }}!</h1>
    <div class="w-full flex items-center md:items-start flex-col md:flex-row">
      <div class="min-w-[240px] max-w-[240px] h-[240px] max-h-[240px] md:mr-6 bg-white shadow-lg rounded-full overflow-hidden flex items-center justify-center mb-6 md:mb-0"
           :class="{'p-3': !avatarUrlExists}">
        <Avatar :avatarUrl="profile.avatarUrl" v-if="avatarUrlExists" class="w-full h-full"/>
        <AvatarPlaceholderIcon class="text-gray-600 w-full h-full" v-if="!avatarUrlExists"/>
      </div>
      <ProfileParagraphs :profile="profile" class="w-full md:ml-6"/>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import ProfileParagraphs from "@/components/Common/ProfileParagraphs.vue";
import Avatar from "@/components/Common/Avatar.vue";
import AvatarPlaceholderIcon from "@/components/SvgIcons/AvatarPlaceholderIcon.vue"
import { useUserStore } from '@/store/user'

export default defineComponent({
  name: "User",
  components: { ProfileParagraphs, Avatar, AvatarPlaceholderIcon },
  setup() {
    const user = useUserStore()
    const profile = user.getProfile;
    return {
      profile,
      avatarUrlExists: computed(() => profile.avatarUrl)
    }
  }
});
</script>
