<template>
  <img :src="avatarUrl" alt="avatar"  class="object-cover">
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: 'Avatar',
  props: {
    avatarUrl: {
      type: String,
      required: true
    }
  },
})
</script>
