<template>
  <footer class="bg-white py-4 mt-auto px-4 md:px-0">
    <div class="container mx-auto flex items-center md:flex-nowrap ">
      <Logo class="md:mr-6"/>
      <p class="mt-1 text-header text-sm font-normal text-gray-600 leading-normal w-full ml-6 md:ml-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Amet aspernatur culpa, cumque delectus deserunt dolor eligendi enim expedita in incidunt mollitia
          non numquam quae rerum tempore ullam unde vero, voluptatum?
      </p>
    </div>
  </footer>
</template>

<script setup>
import Logo from "@/components/SvgIcons/Logo.vue";
</script>
