<template>
  <div class="mx-auto">
    <div class="flex w-full justify-between items-center py-4 border-b-gray-100 shadow-lg fixed bg-white z-30">
      <div class="container flex items-center mx-auto px-4 md:px-0">
        <Logo class=""/>
        <div class="ml-auto">
          <Nav/>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Logo from "@/components/SvgIcons/Logo.vue";
import Nav from "@/components/Common/Nav.vue"
</script>
