<template>
  <nav v-if="links.length > 0">
    <router-link class="uppercase font-semibold first:mr-12 text-lg"
                 v-for="link in links"
                 :key="link.name"
                 :to="link.path"
                 :class="currentRoute === link.name ? 'text-myColor': 'text-gray-700'">
      {{ link.name }}
    </router-link>
  </nav>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useRouter } from "vue-router";
import { routes } from "@/router";

export default defineComponent({
  setup() {
    const router = useRouter();
    return {
      links: computed(() =>
          routes.find(route => route.name === "Default" && route.children && route.children.length > 0)?.children),
      currentRoute: computed(() => router.currentRoute.value.name)
    }
  }
})
</script>
