<template>
  <!--  this way is more generic, when new fields are added, the component will handle them by itself-->
  <div class="profile">
    <p class="profile-paragraph" v-for="(item, key) in parsedProfile" :key="key">
      <b class="profile-bold">{{ convertBigLetterToSpace(item[0]) }}: </b>
      {{ item[1] }}
    </p>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue"
import { UserData } from "@/store/user"

export default defineComponent({
  name: 'ProfileParagraphs',
  props: {
    profile: {
      type: Object as () => UserData,
      required: true
    }
  },
  setup(props) {
    return {
      convertBigLetterToSpace: (string: string) => string.replace(/([A-Z]+)/g, ' $1'),
      parsedProfile: computed(() => Object.entries(props.profile).filter((item) => item[1] !== '' && item[0] !== 'avatarUrl'))
    }
  }
})
</script>

<!-- in this component I decided to show you a different approach to styling -->
<style scoped lang="scss">
$textWeight: 400;
$textColor: #4B5563FF;
$generalFontSize: 16px;
$generalDistance: 12px;
$backgroundColor: white;
$generalRadius: 8px;
$generalShadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

.profile {
  background: $backgroundColor;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding: $generalDistance;
  border-radius: $generalRadius;
  box-shadow: $generalShadow;

  &-paragraph {
    color: $textColor;
    font-weight: $textWeight;
    font-size: $generalFontSize;
    margin-bottom: $generalDistance;
    display: flex;
  }

  &-bold {
    text-transform: capitalize;
    margin-right: 3px;
  }
}

</style>
