<template>
  <div v-if="snackbar.visible"
       class="fixed right-8 bottom-8 bg-white p-5 shadow-lg open-snackbar z-30">
    <p class="font-medium text-md" :class="snackbar.type === Snackbar.success ? 'text-green-500' : 'text-red-500'">
      {{ showStatus }}
    </p>
    <p class="text-gray-600 text-sm font-normal">
      {{ snackbar.content }}
    </p>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import { useUserStore, SnackbarInterface, Snackbar } from "@/store/user";

export default defineComponent({
  name: "Snackbar",
  setup() {
    const user = useUserStore()
    const snackbar = computed<SnackbarInterface>(() => user.$state.snackbar)
    const showStatus = computed<string>(() => snackbar.value.type === Snackbar.success ? 'Success!' : 'Error!')
    return {
      snackbar,
      showStatus,
      Snackbar,
    }
  }
})
</script>

<style scoped>
.open-snackbar {
  transform: translateX(100%);
  animation: showSnackBar ease-in-out .3s forwards;
}

@keyframes showSnackBar {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

</style>
