<template>
  <form @submit.prevent="submit">
    <div class="flex items-center justify-between -mt-2 flex-col md:flex-row">
      <input-element placeholder="First name"
                     label="First Name"
                     :model-value="form.firstName"
                     @value="setFormData"
                     type="text"
                     :error="errors.firstName"
                     element-id="firstName"
                     form-element-name="firstName"
                     class="w-full md:mr-2"/>
      <input-element placeholder="Last name"
                     label="Last Name"
                     type="text"
                     :model-value="form.lastName"
                     @value="setFormData"
                     element-id="lastName"
                     form-element-name="lastName"
                     :error="errors.lastName"
                     class="w-full md:ml-2"/>
    </div>
    <div class="flex items-center flex-col md:flex-row">
      <input-element placeholder="Email address"
                     label="Email"
                     type="email"
                     :model-value="form.email"
                     @value="setFormData"
                     element-id="email"
                     form-element-name="email"
                     :error="errors.email"
                     class="w-full md:mr-2"/>
      <input-element placeholder="Phone number"
                     label="Phone"
                     type="tel"
                     :model-value="form.phone"
                     @value="setFormData"
                     element-id="phone"
                     form-element-name="phone"
                     :error="errors.phone"
                     class="w-full md:ml-2"/>
    </div>
    <input-element placeholder="Birthday (click "
                   label="Birthday"
                   type="date"
                   element-id="birthday"
                   form-element-name="birthday"
                   :model-value="form.birthday"
                   @value="setFormData"
                   :error="errors.birthday"
                   class="w-full"/>
    <textarea-element placeholder="Write something about yourself"
                      label="About"
                      :model-value="form.about"
                      form-element-name="about"
                      @value="setFormData"
                      :error="errors.about"/>
    <drag-and-drop-element @input="uploadFiles" label="Avatar"
                           :photo-url="form.avatarUrl" @error="setAvatarError" :error="errors.avatarUrl"/>
    <div class="w-full flex justify-end">
      <button-element placeholder="Save" is-submit/>
    </div>
  </form>
</template>
<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { useForm } from "@/utils/form";
import InputElement from "@/components/FormElements/InputElement.vue";
import TextareaElement from "@/components/FormElements/TextareaElement.vue";
import validators from "@/utils/validators";
import ButtonElement from "@/components/FormElements/ButtonElement.vue";
import DragAndDropElement, {
  UploadFileInterface,
  UploadFileError
} from "@/components/FormElements/DragAndDropElement.vue";
import { useUserStore } from '@/store/user'

export default defineComponent({
  name: "UserForm",
  components: {
    DragAndDropElement,
    ButtonElement,
    InputElement,
    TextareaElement
  },
  setup() {
    const user = useUserStore()
    const form = useForm({
      firstName: "",
      lastName: "",
      email: "",
      phone: "",
      birthday: "",
      about: "",
      avatarUrl: ''
    });

    const setValidators = () => {
      form.setValidators({
        firstName: [validators.required(), validators.minChars(3), validators.maxChars(25)],
        lastName: [validators.required(), validators.minChars(3), validators.maxChars(25)],
        email: [validators.required(), validators.minChars(3), validators.email],
        birthday: [validators.required()],
        phone: [validators.required(), validators.notANumber, validators.minChars(9)],
      });
    }
    form.onSubmit(async () => {
      try {
        await user.saveUser(form.form);
        //here is place to put some API calls
      } catch (e) {
        console.log(e);
      }
    });
    onMounted(() => {
      setValidators()
      Object.assign(form.form, user.getProfile);
    })

    const setFormData = ({ value, elementName }: { value: string, elementName: string }) => {
      form.form[elementName] = value
    }

    const uploadFiles = (file: UploadFileInterface) => {
      form.errors.avatarUrl = null
      form.form.avatarUrl = file.url
    }

    const setAvatarError = ({ size, maxSizeInMb, maxHeight, maxWidth, dimensions }: UploadFileError) => {
      if (dimensions && maxWidth && maxHeight) {
        return form.errors.avatarUrl =
            `You are trying to upload a picture with dimensions ${dimensions.width}x${dimensions.height}.
             Max dimensions is ${maxWidth}x${maxHeight}.`
      }
      if (dimensions && (!maxWidth || !maxHeight)) {
        return form.errors.avatarUrl =
            `You are trying to upload a picture with dimensions ${dimensions.width}x${dimensions.height}.
             Reduce dimensions and try again.`
      }
      if (maxSizeInMb && !dimensions) {
        return form.errors.avatarUrl =
            `You are trying to upload a file with the size of ${(size / 1024 / 1024).toFixed(2)}Mb,
            but max size is ${maxSizeInMb}Mb.`
      }
      if (size && !maxSizeInMb) {
        form.errors.avatarUrl =
            `You are trying to upload a file with the size of ${(size / 1024 / 1024).toFixed(2)}Mb,
            try upload other photo.`
      }
      form.errors.avatarUrl =
          `Dimensions or size of file is too big. Reduce dimensions and/or size and try again.`
    }
    return {
      ...form,
      setFormData,
      uploadFiles,
      setAvatarError,
    }
  }
});
</script>
